# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Python
venv/
__pycache__/
*.pyc
.pytest_cache/

# Lambda build artifacts
.build/

# OS
.DS_Store

# IDE
.idea/
.vscode/
